<!doctype html>
<html lang="en">    

<head>
    <title>UFly - Registrar Tripulante</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body class="body-admin">

    <div id="registrar_tripulante">

        <cabecera title="Registrar tripulante"></cabecera>

        <div class="registro-usuario-admin mt-3 mx-5">
            <div class="encabezado text-center">
                <h2 class="py-2 m-0">Información del tripulante</h2>
            </div>
            <form @submit.prevent="validarCampos" id="formulario-admin-registro">
                <div class="mx-5 my-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="primer-nombre">Primer nombre</label>
                            <input type="text" name="primer-nombre" id="primer-nombre" v-model="primerNombre"
                                class="form-control input-group-text" maxlength="20" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="segundo-nombre">Segundo nombre</label>
                            <input type="text" name="segundo-nombre" id="segundo-nombre" v-model="segundoNombre"
                                class="form-control input-group-text" maxlength="20">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="primer-apellido">Primer apellido</label>
                            <input type="text" name="primer-apellido" id="primer-apellido" v-model="primerApellido"
                                class="form-control input-group-text" maxlength="20" required>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="segundo-apellido">Segundo apellido</label>
                            <input type="text" name="segundo-apellido" id="segundo-apellido" v-model="segundoApellido"
                                class="form-control input-group-text" maxlength="20" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="identificacion">Identificación</label>
                            <input type="text" name="identificacion" id="identificacion" v-model="identificacion"
                                class="form-control input-group-text" maxlength="15" required>
                        </div>
                  </div>

                  <div class="form-row">
                        <div class="form-group col-md-6">
                                <label>Estado:</label>
                                <select class="custom-select" name="estadoTripulante" id="estadoTripulante"
                                    v-model="estadoTripulante" required>
                                    <option selected>Elegir el estado del tripulante</option>
                                    <option v-for="estado of estadosTripulantes">
                                        {{ estado.nombre_estado }}
                                    </option>
                                </select>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono</label>
                            <input type="text" name="telefono" id="telefono" v-model="telefono"
                                class="form-control input-group-text" maxlength="14" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="direccion">Dirección</label>
                            <input type="text" name="direccion" id="direccion" v-model="direccion"
                                class="form-control input-group-text" maxlength="40" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fecha-nacimiento">Fecha de nacimiento</label>
                            <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" v-model="fechaNacimiento"
                                class="form-control input-group-text" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-center flex-wrap my-2 mx-5" id="registrar_tripulantes">
            <div class="botones mx-2 my-2">
                <button type="submit" class="btn" @click="validarCampos">Registrar</button>
            </div>
            <div class="botones mx-2 my-2">
                <button type="button" class="btn" OnClick="location.href='tripulantes.html'">Salir</button>
            </div>
        </div>
    </div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="/components/headerComponent.js"></script>
<script src="registrar_tripulante.js"></script>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</html>