<!doctype html>
<html lang="en">

<head>
    <title>UFly - Aeropuertos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="body-admin">
    
    <div id="aeropuertos">
        <span class="ir-arriba icon-arrow-up2"></span>
        <div class="header d-flex justify-content-between align-items-center flex-wrap-reverse py-2 px-2">
            <img src="/img/logo.png" width="8%" height="8%" class="img-fluid px-1 py-1">
            <h1 class="text-center m-0">{{titulo}}</h1>
            <li class="nav-item dropdown d-flex align-items-center px-1 py-1">
                <a class="nav-link dropdown-toggle  text-white" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Configuración</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#one">Ver mi perfil</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#two">Cerrar sesión</a>
                </div>
            </li>
        </div>
        
        <div class="busqueda d-flex justify-content-start align-items-center my-3 mx-5 py-2 px-2">
            <h5 class="mt-2 py-2 px-3">Buscar: </h5>
            <input v-model="buscarAeropuerto" class="aeropuerto py-1 px-2 border-0 mr-4 text-capitalize flex-fill bd-highlight col-md-12" type="text">
        </div>
        
        <div class="mx-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre del aeropuerto</th>
                            <th>Dirección</th>
                            <th>Ciudad - País</th>
                            <th>Estado</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody id="contenido" v-for="aeropuerto of searchAirport">
                        <tr @click="actualizarAeropuerto(aeropuerto.id_aeropuerto)" >
                            <td>
                                {{aeropuerto.nombre_aeropuerto}}
                            </td>
                            <td>
                                {{aeropuerto.direccion_aeropuerto}}
                            </td>
                            <td>
                                {{aeropuerto.fkciudades.nombre_ciudad}} -
                                {{aeropuerto.fkciudades.fkpais.nombre_pais}}
                            </td>
                            <td>
                                {{aeropuerto.fkestados_aeropuerto.nombre_estado}}
                            </td>
                            <td>
                                {{aeropuerto.telefono}}
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        </div>
        
        <div class="opciones d-flex justify-content-around flex-wrap mx-5">
            <div class=" my-2">
                <button type="button" id="subir" OnClick=toTop() class="btn">Subir</button>
            </div>
        
            <div class=" my-2">
                <button type="button" class="btn subir" OnClick="location.href='registrar_aeropuerto.html'">Agregar Aeropuerto</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="aeropuertos.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript">

        function toTop() {
            window.scrollTo(0, 0)
        }

    </script>

</body>

</html>