<!doctype html>
<html lang="en">

<head>
    <title>UFly - Perfil Aeropuerto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> 

<body class="body-admin">

<div id="perfil-aeropuerto">

    <cabecera title="Aeropuerto actual"></cabecera>

    <div class="informacion-aeropuerto  mt-3 mx-5">
        <div class="encabezado text-center">
            <h2 class="py-2 m-0">Información del aeropuerto</h2>
        </div>

        <form  @submit.prevent="validarCampos">
            <div id="items-perfil-aeropuerto">
                <div class=" form-row mx-5">
                    <div class="form-group col-md-6 my-3">
                        <label>Nombre del aeropuerto:</label>
                        <input type="text" class="form-control" name="nombreAeropuerto" id="nombreAeropuerto"
                            v-model="nombreAeropuerto" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group col-md-4 my-3">
                        <label>Dirección del aeropuerto:</label>
                        <input type="text" class="form-control" name="direccionAeropuerto" id="direccionAeropuerto"
                            v-model="direccionAeropuerto" placeholder="Dirección" maxlength="25" required>
                    </div>
                    <div class="col-md-2 my-3">
                        <label>Teléfono:</label>
                        <input type="text" class="form-control" name="telefonoAeropuerto" id="telefonoAeropuerto"
                            v-model="telefonoAeropuerto" placeholder="Telefono" maxlength="14" required>
                    </div>
                </div>

                <div class="form-row mx-5 mb-3">
                    <div class="form-group col-md-3">
                        <label>País:</label>
                        <select class="custom-select" name="paisAeropuerto" id="paisAeropuerto" v-model="paisAeropuerto"
                            required>
                            <option selected>{{paisAeropuerto}}</option>
                            <option v-for="pais of paises" v-show="pais.nombre_pais != paisAeropuerto">
                                {{ pais.nombre_pais }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Ciudad:</label>
                        <select class="custom-select" name="ciudadAeropuerto" id="ciudadAeropuerto"
                            v-model="ciudadAeropuerto" required>
                            <option selected>{{ciudadAeropuerto}}</option>
                            <option v-for="ciudad of buscarCiudades" v-show="ciudad.nombre_ciudad != ciudadAeropuerto">
                                {{ ciudad.nombre_ciudad }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label>Estado:</label>
                        <select class="custom-select" name="estadoAeropuerto" id="estadoAeropuerto"
                            v-model="estadoAeropuerto" required>
                            <option selected>{{estadoAeropuerto}}</option>
                            <option v-for="estado of estadosAeropuerto"
                                v-show="estado.nombre_estado != estadoAeropuerto">
                                {{ estado.nombre_estado }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-wrap my-2 mx-5" id="registrar_aeropuertos">
                <div class="botones mx-2 my-2">
                    <!--ENVIAR TODA LA INFORMACION DEL AEROPUERTO ACTUAL-->
                    <button type="submit" class="btn" @click="validarCampos">Actualizar</button>
                </div>
                <div class="botones mx-2 my-2">
                    <button type="button" class="btn" OnClick="location.href='aeropuertos.html'">Salir</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="/components/headerComponent.js"></script>
<script src="perfil_aeropuerto.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>