<!doctype html>
<html lang="en">

<head>
    <title>UFly - Perfil vuelo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body class="body-admin">

    <div id="perfil-vuelo">

        <cabecera title="Vuelo actual"></cabecera>

        <div class="informacion-vuelo mt-3 mx-5">
            <div class="encabezado text-center">
                <h2 class="py-3 m-0">Información del vuelo</h2>
            </div>

            <form @submit.prevent="validarCampos">

                <div id="items-formulario-vuelo">

                    <div class=" form-row mx-5">

                        <div class="form-group col-md-12 my-3">

                            <label id="subtitulo">Horario</label>

                            <div class=" form-row mx-4">

                                <div class="form-group col-md-3">
                                    <label>Fecha de embarque:</label>
                                    <input type="datetime-local" class="form-control" name="embarqueVuelo"
                                        id="embarqueVuelo" v-model="embarqueVuelo" required>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="form-group col-md-3">
                                    <label>Fecha de desembarque:</label>
                                    <input type="datetime-local" class="form-control" name="desembarqueVuelo"
                                        id="desembarqueVuelo" v-model="desembarqueVuelo" required>
                                </div>
                                <div class="col-md-1">

                                </div>

                                <div class="form-group col-md-3">
                                    <label>Hora de Check-in:</label>
                                    <input type="datetime-local" class="form-control" name="horaCheckIn"
                                        id="horaCheckIn" v-model="horaCheckIn" required>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-12">
                            <label id="subtitulo">Capacidad</label>
                            <div class="form-row mx-4">
                                <div class="col-md-3">
                                    <label>Sillas clase business: {{numSillasBusiness}}</label>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3">
                                    <label>Sillas primera clase: {{numSillasPrimera}}</label>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3 ">
                                    <label>Sillas clase económica: {{numSillasEconomica}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 my-3">
                            <label id="subtitulo">Detalles del vuelo:</label>

                            <div class="form-row mx-4">

                                <div class="form-group col-md-3">
                                    <label>Avión:</label><br>
                                    <label id="vuelo-info">{{avionVuelo}}</label>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Aeropuerto origen:</label>
                                    <label id="vuelo-info"> {{ aeropuertoOrigenVuelo }}
                                    </label>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Aeropuerto destino:</label>
                                    <label id="vuelo-info"> {{ aeropuertoDestinoVuelo }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-row mx-4 my-2">
                                <div class="form-row  col-md-3">
                                    <label>Sala de abordaje: </label>
    
                                    <select class="custom-select" name="salaAbordaje" id="salaAbordaje"
                                        v-model="salaAbordaje" required>
                                        <option selected>Elegir la sala de abordaje</option>
                                        <option v-for="sala of salas">
                                            {{ sala.nombre_sala }}
                                        </option>
                                    </select>
    
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="form-row  col-md-3">
                                    <label>Estado del vuelo: </label>
    
                                    <select class="custom-select" name="estadoVuelo" id="estadoVuelo"
                                        v-model="estadoVuelo" required>
                                        <option selected>Elegir el estado del vuelo</option>
                                        <option v-for="estado of estadosvuelo">
                                            {{ estado.nombre_estado }}
                                        </option>
                                    </select>
    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="encabezado text-center">
                        <h2 class="py-3 m-0">Tiquetes del vuelo</h2>
                    </div>

                    <div class="busqueda d-flex justify-content-start align-items-center mt-3 mx-5 py-4 px-2">
                        <h5 class="m-0 py-2 px-3">Buscar: </h5>
                        <input v-model="buscado"
                            class="caja-buscar-usuario py-1 px-2 border-0 mr-4 text-capitalize flex-fill bd-highlight col-md-12"
                            type="text">
                    </div>

                    <div class="busqueda d-flex justify-content-start align-items-center flex-wrap mx-5 pb-3 px-2">
                        <h5 class="m-0 py-2 px-3">Filtro: </h5>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1" value='tipoTiquete' class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadioInline1">Tipo tiquete</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1" value='estado' class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Estado </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline3" name="customRadioInline1" value='numeroAsiento' class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline3">Número de asiento </label>
                        </div>
                    </div>

                    <div class="mx-5 my-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Número de asiento
                                        </th>
                                        <th>
                                            Tipo de tiquete
                                        </th>
                                        <th>
                                            Estado del tiquete
                                        </th>
                                        <th>
                                            Precio del tiquete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="contenido" v-for="tiquete of searchTiquete">
                                    <tr @click="actualizarTiquete(tiquete.id_tiquete)">
                                        <td>
                                            {{tiquete.numero_asiento}}
                                        </td>
                                        <td>
                                            {{tiquete.fktipos_tiquete.nombre_tipo}}
                                        </td>
                                        <td>
                                            {{tiquete.fkestado_tiquete.nombre_estado}}
                                        </td>
                                        <td>
                                            {{tiquete.precio_tiquete}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="opciones d-flex justify-content-around flex-wrap mx-5">
                        <div class=" my-2">
                            <button type="button" id="subir" OnClick=toTop() class="btn">Subir</button>
                        </div>

                        <div class=" my-2">
                            <button type="button" class="btn subir"
                                OnClick="location.href='registrar_tiquete.html'">Agregar
                                tiquete</button>    
                        </div>
                    </div>
                </div>
        </div>

        <div class="d-flex justify-content-center flex-wrap my-2 mx-5" id="registrar_aeropuertos">
            <div class="botones mx-2 my-2">
                <!--ENVIAR TODA LA INFORMACION DEL AEROPUERTO ACTUAL-->
                <button type="submit" @click="validarCampos" class="btn">Actualizar</button>
            </div>
            <div class="botones mx-2 my-2">
                <button type="button" class="btn" OnClick="location.href='vuelos.html'">Salir</button>
            </div>
        </div>
        </form>
    </div>
    </div>
</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="/components/headerComponent.js"></script>
<script src="perfil_vuelo.js"></script>

</html>