<!doctype html>
<html lang="en">

<head>
    <title>UFly - Perfil Avion</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body class="body-admin">
    <div id="perfil-avion">

        <cabecera title="Avión Actual"></cabecera>

        <div class="informacion-avion mt-3 mx-5">
            <div class="encabezado text-center">
                <h2 class="py-2 m-0">Información Del Avión</h2>
            </div>

            <form @submit.prevent="validarCampos"></form>

            <div class="mx-5 my-3" id="items-formulario-aeropuerto" style="color: #ffffff">
                <div class=" form-row mx-5">
                    <div class="form-group col-md-4 my-3">
                        <label>Fabricante:</label>
                        <label>{{fabricante}}</label> 
                    </div>

                    <div class="form-group col-md-4 my-3">
                        <label>Modelo:</label>
                        <label>{{modelo}}</label> 
                    </div>

                    <div class="col-md-4 my-3">
                        <label>Año De Fabricación:</label>
                        <label>{{anio_fabricacion}}</label> 
                    </div>

                    <div class="col-md-4 my-3">
                        <label>Número De Sillas Business:</label>
                        <label>{{numero_sillas_business}}</label> 
                    </div>

                    <div class="col-md-4 my-3">
                        <label>Número De Sillas Primeras:</label>
                        <label>{{numero_sillas_primera}}</label> 
                    </div>

                    <div class="col-md-4 my-3">
                        <label>Número De Sillas Económicas:</label>
                        <label>{{numero_sillas_economica}}</label> 
                    </div>

                    <div class="form-group col-md-4">
                        <label>Estado:</label>
                        <select class="custom-select" name="estadoAvion" id="estadoAvion" v-model="estadoAvion"
                            required>
                            <option v-for="estado of estadosavion ">
                                {{ estado.nombre_estado }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            </form>
        </div>

        <div class="d-flex justify-content-center flex-wrap my-2 mx-5" id="registrar_aviones">
            <div class="botones mx-2 my-2">
                <!--ENVIAR TODA LA INFORMACION DEL AEROPUERTO ACTUAL-->
                <button type="submit" @click="procesarFormulario" class="btn">Actualizar</button>
            </div>
            <div class="botones mx-2 my-2">
                <button type="button" class="btn" OnClick="location.href='avion.html'">Salir</button>
            </div>
        </div>
    </div>
    </div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script src="/components/headerComponent.js"></script>

<script src="perfil_avion.js"></script>

</html>