<!doctype html>
<html lang="en">

<head>
    <title>UFly - Registrar Usuario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-admin">

    <div id="registro_usuario_admin">

        <cabecera title="Registrar usuario"></cabecera>

        <div class="registro-usuario-admin mt-3 mx-5">
            <div class="encabezado text-center">
                <h2 class="py-2 m-0">Información del Usuario</h2>
            </div>

            <form @submit.prevent="validarCampos" id="formulario-admin-registro">

                <div class="mx-5 my-3">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="primer-nombre">Primer nombre</label>
                            <input type="text" name="primer-nombre" id="primer-nombre" v-model="primerNombre"
                                class="form-control input-group-text" maxlength="20" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="segundo-nombre">Segundo nombre</label>
                            <input type="text" name="segundo-nombre" id="segundo-nombre" v-model="segundoNombre"
                                class="form-control input-group-text" maxlength="20">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="primer-apellido">Primer apellido</label>
                            <input type="text" name="primer-apellido" id="primer-apellido" v-model="primerApellido"
                                class="form-control input-group-text" maxlength="20" required>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="segundo-apellido">Segundo apellido</label>
                            <input type="text" name="segundo-apellido" id="segundo-apellido" v-model="segundoApellido"
                                class="form-control input-group-text" maxlength="20" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="identificacion">Identificación</label>
                            <input type="text" name="identificacion" id="identificacion" v-model="identificacion"
                                class="form-control input-group-text" maxlength="15" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="genero">Género</label>
                            <select name="genero" id="genero" v-model="genero" class="form-control input-group-text"
                                required>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="correo">Correo electrónico</label>
                            <input type="email" name="correo" id="correo" v-model="correoElectronico"
                                class="form-control input-group-text" maxlength="50" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono</label>
                            <input type="text" name="telefono" id="telefono" v-model="telefono"
                                class="form-control input-group-text" maxlength="14" required>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="direccion">Dirección</label>
                            <input type="text" name="direccion" id="direccion" v-model="direccion"
                                class="form-control input-group-text" maxlength="40" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fecha-nacimiento">Fecha de nacimiento</label>
                            <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" v-model="fechaNacimiento"
                                class="form-control input-group-text" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" name="contrasena" id="contrasena" v-model="contrasenia"
                                class="form-control input-group-text" maxlength="15" required>
                        </div>
                        <div class="form-group col-md-3">

                            <label>Tipo usuario</label>

                            <select name="tipoUsuario" id="tipoUsuario" v-model="tipoUsuario"
                                class="form-control input-group-text" required>
                                <option selected>Elegir el tipo de usuario</option>
                                <option v-for="usuario of tiposUsuarios">
                                    {{ usuario.tipo_usuario }}
                                </option>

                            </select>

                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="d-flex justify-content-center flex-wrap my-2 mx-5" id="registrar_usuarios">
            <div class="botones mx-2 my-2">
                <button type="submit" class="btn" @click="validarCampos">Registrar</button>
            </div>
            <div class="botones mx-2 my-2">
                <button type="button" class="btn" OnClick="location.href='usuarios.html'">Salir</button>
            </div>
        </div>
    </div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="registrar_usuario_admin.js"></script>
<script src="/components/headerComponent.js"></script>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>





</html>