<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>UFLY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<body class="body-admin">

    <div id="usuarios">
        <div class="header d-flex justify-content-between align-items-center flex-wrap-reverse py-2 px-2">
            <img src="/img/logo.png" width="8%" height="8%" class="img-fluid px-1 py-1">
            <h1 class="text-center m-0">Usuarios</h1>
            <li class="nav-item dropdown d-flex align-items-center px-1 py-1">
                <a class="nav-link dropdown-toggle  text-white" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Configuración</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#one">Ver mi perfil</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#two">Cerrar sesión</a>
                </div>
            </li>
        </div>

        <div class="container col-md-12">

            <div class="busqueda d-flex justify-content-start align-items-center my-3 mx-5 py-2 px-2">
                <h5 class="m-0 py-2 px-3">buscar usuario</h5>
                <input v-model="documentoBuscado" class="caja-buscar-usuario text-capitalize" type="text">
                <a class="buscar-btn-usuario" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Correo electrónico
                            </th>
                            <th>
                                Teléfono
                            </th>
                        </tr>
                    </thead>
                    <tbody id="contenido" v-for="usuario of searchUser">
                        <tr>
                            <td>
                                {{usuario.cedula}}
                            </td>
                            <td>
                                {{usuario.primer_nombre}} {{usuario.segundo_nombre}} {{usuario.primer_apellido}}
                                {{usuario.segundo_apellido}}
                            </td>
                            <td>
                                {{usuario.correo_electronico}}
                            </td>
                            <td>
                                {{usuario.telefono}}
                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>


        </div>
        <div class="opciones d-flex justify-content-around flex-wrap mx-5">
            <div class=" my-2">
                <button type="button" id="subir" OnClick=toTop() class="btn">Subir</button>
            </div>

            <div class=" my-2">
                <button type="button" class="btn subir" OnClick="location.href='registrar_usuario.html'">Agregar
                    Usuario</button>
            </div>
        </div>
    </div>


    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
   
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="usuarios.js"></script>


<script type="text/javascript">

    function toTop() {
        window.scrollTo(0, 0)
    }

</script>


</body>

</html>